/1941720062/JavaApplication8/nbproject/private/
/1941720062/StrukturData/nbproject/private/
/1941720062/StrukturData/build/
/1941720062/JavaApplication10/nbproject/private/
/1941720062/JavaApplication10/build/
/1941720062/ArrayBalok/nbproject/private/
/1941720062/ArrayBalok/build/
/1941720062/BruteForceAndDivideConquer/nbproject/private/
/1941720062/BruteForceAndDivideConquer/build/
/1941720062/BruteForceAndDivideConquer/dist/
/1941720062/BruteForceAndDivideConquer2/nbproject/private/
/1941720062/BruteForceAndDivideConquer2/build/
/1941720062/Quiz1/nbproject/private/
/1941720062/Quiz1/build/
/1941720062/Bubble,Selection,Insertion Sorting/nbproject/private/
/1941720062/TEORI Bubble,Selection,Insertion Sorting/nbproject/private/